<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Hello, World!</title>
  </head>
  <body ng-controller="MainController">
    <ul>
  <li ng-repeat="name in names">
    {{name}}
   </li>
</ul>

    <ul>
  <li ng-repeat="symbol in symbols">
    {{symbol}}
   </li>
</ul>

 <ul>
  <li ng-repeat="num in dupes track by $index">
    <p>{{num}}</p>
   </li>
</ul>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>


  </body>
</html>
